@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.box-login {
  margin: 0 auto !important;
  width: 350px;
}

.box-login-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  overflow: auto;
  height: fit-content;
  min-height: 100%;
  background: white;
  padding: 20px 0;
}


.box-register {
  margin: 0 auto !important;
  width: 500px;
}

.box-register-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  overflow: auto;
  height: fit-content;
  min-height: 100%;
  background: white;
  padding: 20px 0;
}

